body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background-color: #444;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.game-item {
    border: 5px solid black;
    padding: 60px 20px 20px 20px;
    width: calc(33.33% - 40px);
    text-align: center;
    background-color: #6abf69;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hawk-image {
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.default-hawk-image {
    top: -94px;
    width: 200px;
    height: auto;
}

.fat-hawk-image {
    top: -100px;
}

.small-hawk-image {
    top: -110px;
}

.game-item h3, .game-item p, .game-item button {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.background {
    height: 100vh;
    width: 100vw;
    background: url('images/flappyBackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
